# Server Configuration
PORT=3000

# Database Configuration
MONGO_URI=mongodb://localhost:27017/cancer_awareness
# Or MongoDB Atlas:
# MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/cancer_awareness?retryWrites=true&w=majority
